<div class="container text-center">
  <h3>Developer</h3>

  <div class="col-md-12">
    <%=image_tag 'developer.jpg', :style => "border-radius:50%;", :size => "195x195" %>
  </div>
  <div class="col-md-12">
  <i class="fa fa-facebook-square fa-size"></i> <strong><%= link_to 'Daiki Nagaoka', "https://www.facebook.com/profile.php?id=100002760214027", :target => '_blank', :style =>'border-bottom: 1px solid;' %></strong>
    <p> Noob Front/Server Engineer</p>
  </div>

</div>