.navbar-brand{
  font-family: 'Space Mono';
  font-size: 30px;
  color:#95A5A6;
}

.item{
  width: 100%;
}

.cal2{
  padding: 0;
}

h1{
  margin: 0;
}

.shadow {
    margin-top: 5px; /* 画像の上の余白*/
    display: inline-block;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
}

body {
  height: 200px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch
}

.thumbnail img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}