/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
～以下、画面の横幅が768pxまでの場合のスタイル記入～
}
/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
～以下、画面の横幅が768pxまでの場合のスタイル記入～
}
/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
～以下、画面の横幅が640pxまでの場合のスタイル記入～
}


@font-face {
  font-family: 'AIRSTREAM';
  src: font-url('AIRSTREA.TTF') format('transition-duration: time;etype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'abstract';
  src: font-url('abstract.ttf') format('transition-duration: time;etype');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand{
  font-family: 'AIRSTREAM';
  font-size: 30px;
  color:#95A5A6;
}



.item{
  width: 100%;
}

.cal2{
  padding: 0;
}

h1{
  margin: 0;
}

