
<!-- footer -->

<div class="container" style="width: 100%; height: 20%;">
  <div class="row"><!-- navbar-fixed-bottom -->
<!--     <div class="col-md-7">
      <h3 class="footer-title">Follow Me!</h3>
      <p>Twitterでは最新の情報を提供致します。<br>ご意見、ご要望も承っております</p>
    </div> -->
    <div class="col-md-12 col-xs-12">
      <div class="footer-banner">
        <h3 class="footer-title" >
          <a style="font-size:20px; padding-right:10px;"><%=image_tag "logo.png" ,:size => "30x30"%></a>Otoshimonno
        </h3>
        <ul>
          <li><a href="#">Contact Form</a></li>
          <li><a href="/developer">Developer</a></li>
        </ul>
      </div>
    </div>
  </div>
          <p class="text-center">© 2016 Otoshimonno, All rights received.</p>
</div>
