
<div class="container">
  <h3>ナクシタ?</h3>
  <h4>あなたが登録してきた位置が以下に表示されます。これらを参考にすると見つかるかもしれません。</h4>
  <table class="table">
    <thead>
      <tr>
        <th>住所:</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
        <td><%=location.address%><a class="text-right btn btn-danger" href="http://maps.google.co.jp/maps?q=<%=location.address%>" target="_blank">[GoogleMapで確認]</a></td>
        </tr>
      <%end %>
    </tbody>
  </table>
  まだ位置を登録されていない場合は<%= link_to 'コチラ', new_user_item_location_path(item_id: params[:item_id]) %>
  </div>