<div class="container">

  <h4>あなたが登録してきた位置が以下に表示されます。これらを参考にすると見つかるかもしれません。</h4>
  <table class="table">
    <thead>
      <tr>
        <th>住所:</th>
        <th></th>
        <th>更新日時:</th>
      </tr>
      <tr>

      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%=location.address%></td>
          <td><a class="text-right btn btn-danger" href="http://maps.google.co.jp/maps?q=<%=location.address%>" target="_blank">[GoogleMapで確認]</a></td>
          <td><%= location.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
        </tr>
        <%end %>
    </tbody>
  </table>
  <%= link_to '更新する', new_user_item_location_path(item_id: params[:item_id]), :class => 'btn btn-primary' %>
  <% link_to '戻る' , user_item_path(id: current_user.id, item_id: params[:item_id] ), :class => 'btn btn-default'%>

  </div>